{% extends "content.html" %}
{% block title %} - DataDocWeb{% endblock %}
{% block content %}
<div id="container" class="container" style="margin-top:80px">
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="DataDocWeb Toolbar">
    <div class="btn-group me-2 btn-group-sm" role="group">
      <div class="input-group input-group-sm">
        <div class="input-group-text" id="btn-database">Database</div>
        <select id="graph" class="form-select"
                aria-label="Select database" aria-describedby="btn-database">
          {% for item in graphs %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="btn-group me-2 btn-group-sm" role="group">
      <div class="input-group input-group-sm">
        <div class="input-group-text" id="btn-search">Search</div>
        <input id="query" type="text" class="form-control"
              style="min-width: 400px;"
              placeholder="Enter search criteria"
              aria-label="Search input" aria-describedby="btn-search">
        <button type="button" class="btn btn-primary" onclick="onSearch()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="btn-group me-2 btn-group-sm" role="group">
      <a href="{% url 'datadocweb:upload' %}" class="btn btn-secondary"
              title="Upload files">
        Upload
      </a>
    </div>  
  </div>
  <div id="search-how-to">
    <p class="text-muted">To search data, select a database, write a query, and press the
       "search" button.
    </p>
  </div>
  <div id="search-spinner" style="display:none;">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Search data...
  </div>
  <div id="search-result" style="display:none">
    <div class="text-nowrap" style="overflow-x: auto">
      <table id="result" class="table table-sm">
        <thead></thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div id="search-result-none" style="display:none">
    <p>no results matched with your query</p>
    <p>Tips for improving the results</p>
    <ul>
      <li>Please ensure that you have typed the search term correctly.</li>
      <li>Try using more general terms to broaden your search.</li>
      <li>Consider using synonyms or related terms to expand your search.</li>          
    </ul>
  </div>
  <div id="search-error" style="display: none;">
    <div style="margin-top: 10px; margin-bottom: 0px;"
         role="alert"
         class="alert alert-warning alert-dismissible fade show">
      <strong>Error!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
{% include 'datadocweb-home.js' %}
{% endblock %}